{%extends 'base.html'%}
{%block content%}
{%if error == True%}
<h3 style="margin-left:20px">Error in Login</h3>
<form style="margin-left:20px" action="" method="post" name="login">
    Enter your username:<br>
    <div class="form-group has-error" style="width:300px">
        {{ form.username(class_="form-control") }}<br>
        Enter your password:<br>
        {{ form.password(class_="form-control") }}<br>
        <input type="submit" class="btn btn-default" value="Enter">
    </div>
</form>
{%else%}
<h3 style="margin-left:20px">Login</h3>
<form style="margin-left:20px" action="" method="post" name="login">
    Enter your username:<br>
    <div class="form-group" style="width:300px">
        {{ form.username(class_="form-control") }}<br>
        Enter your password:<br>
        {{ form.password(class_="form-control") }}<br>
        <input type="submit" class="btn btn-default" value="Enter">
    </div>
</form>

{%endif%}
{%endblock%}
